In [ ]:
!pip install openimages

In [ ]:
!wget https://storage.googleapis.com/openimages/v5/test-annotations-bbox.csv
!wget https://storage.googleapis.com/openimages/v5/validation-annotations-bbox.csv
!wget https://storage.googleapis.com/openimages/2018_04/train/train-annotations-bbox.csv
!wget https://storage.googleapis.com/openimages/v5/class-descriptions-boxable.csv

--2020-07-15 14:49:56--  https://storage.googleapis.com/openimages/v5/test-annotations-bbox.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 108.177.12.128, 172.217.204.128, 172.217.203.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|108.177.12.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 77484237 (74M) [text/csv]
Saving to: ‘test-annotations-bbox.csv.1’

test-annotations-bb 100%[===================>]  73.89M   187MB/s    in 0.4s

2020-07-15 14:49:57 (187 MB/s) - ‘test-annotations-bbox.csv.1’ saved [77484237/77484237]

--2020-07-15 14:50:04--  https://storage.googleapis.com/openimages/v5/validation-annotations-bbox.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 173.194.214.128, 173.194.216.128, 173.194.217.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|173.194.214.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25105048 (24M) [text/csv]
Saving to: ‘validation-annotations-bbox.csv.1’

validation-annotati 100%[===================>]  23.94M   128MB/s    in 0.2s

2020-07-15 14:50:04 (128 MB/s) - ‘validation-annotations-bbox.csv.1’ saved [25105048/25105048]

--2020-07-15 14:50:11--  https://storage.googleapis.com/openimages/2018_04/train/train-annotations-bbox.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.203.128, 172.253.123.128, 74.125.31.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.203.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1194033454 (1.1G) [text/csv]
Saving to: ‘train-annotations-bbox.csv.1’

sv.1                 99%[==================> ]   1.10G   177MB/s    eta 1s     ^C
--2020-07-15 14:50:24--  https://storage.googleapis.com/openimages/v5/class-descriptions-boxable.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 108.177.12.128, 172.217.204.128, 172.217.203.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|108.177.12.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12011 (12K) [text/csv]
Saving to: ‘class-descriptions-boxable.csv.1’

class-descriptions- 100%[===================>]  11.73K  --.-KB/s    in 0s

2020-07-15 14:50:24 (64.9 MB/s) - ‘class-descriptions-boxable.csv.1’ saved [12011/12011]

In [ ]:
total_items = ['Bookcase', 'Toaster', 'Wood-burning stove', 'Telephone', 'Bathtub', 'Pillow', 'Couch', 'Mirror', 'Gas stove', 'Washing machine', 'Bed', 'Laptop', 'Refrigerator', 'Bathroom accessory', 'Kitchen & dining room table', 'Television', 'Kettle', 'Pressure cooker', 'Coffee table', 'Sink', 'Blender', 'Sofa bed', 'Kitchenware', 'Toilet', 'Ceiling fan', 'Microwave oven', 'Furniture', 'Heater', 'Coffeemaker', 'Cattle', 'Cupboard', 'Whiteboard', 'Dishwasher', 'Fireplace', 'Oven', 'Sewing machine', 'Shower', 'Table', 'Clock', 'Countertop', 'Towel', 'Mug']

In [ ]:
from openimages.download import download_images
download_images("/content/data/images", total_items, None, csv_dir='/content')

In [ ]:
import pandas as pd

In [ ]:
classes = {'class_name':[], 'id':[]}

for id, name in enumerate(total_items):
  classes['class_name'].append(name)
  classes['id'].append(id)
classes_df = pd.DataFrame(classes)
classes_df.to_csv(path_or_buf='/content/data/classes/classes.csv', index=False)

In [ ]:
class_desc = pd.read_csv('class-descriptions-boxable.csv', names=['id', 'name'])

In [ ]:
train_annot = pd.read_csv('train-annotations-bbox.csv')

In [ ]:
train_annot.head()

            ImageID  Source  LabelName  ...  IsGroupOf  IsDepiction  IsInside
0  000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
1  000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
2  000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
3  000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
4  000002b66c9c498e  xclick  /m/01g317  ...          0            0         0

[5 rows x 13 columns]

In [ ]:
train_annotation = {
    'location': [],
    'x1': [],
    'y1': [],
    'x2': [],
    'y2': [],
}

In [ ]:
class_desc.head()

            id        name
0    /m/011k07    Tortoise
1  /m/011q46kg   Container
2    /m/012074      Magpie
3    /m/0120dh  Sea turtle
4    /m/01226z    Football

In [ ]:
class_desc[class_desc['name']=='Bookcase']

            id      name
268  /m/03__z0  Bookcase

In [ ]:
train_annot[train_annot['LabelName']=='/m/03__z0']

                   ImageID     Source  ... IsDepiction  IsInside
811       00007902a7b96e8c     xclick  ...           0         0
4623      00030b8c7652041d     xclick  ...           0         0
8286      0005ab25224dfadf     xclick  ...           0         0
11797     0008e0ae64dd9003     xclick  ...           0         0
12410     00095dfd91f26594     xclick  ...           0         0
...                    ...        ...  ...         ...       ...
14604071  ffde8d5389ea8307     xclick  ...           0         0
14608357  fff54e8817b2b63d  activemil  ...           0         0
14608359  fff54e8817b2b63d     xclick  ...           0         0
14608759  fff78bd6c7b8048a  activemil  ...           0         0
14608762  fff78bd6c7b8048a     xclick  ...           0         0

[5307 rows x 13 columns]

In [ ]:
import os
name_of_images = []
for file in os.listdir("/content/data/images/bathroom accessory/images"):
  l.append(file[:-4])

print(l[:5])

['f089e8783afb9731', '67993a88af3ecd44', 'a305d61e68f66ea7', '73ec725bb7b666f0', 'aa0069f51b547657']

In [ ]:
train_annot.drop(['Source', 'IsOccluded', 'IsTruncated', 'IsGroupOf', 'IsDepiction', 'IsInside', 'Confidence'], axis=1, inplace=True)

In [ ]:
id_list = []
for class_name in total_items:
  id_list.append(class_desc[class_desc['name']==class_name]['id'].values[0])

new_df = train_annot[train_annot['LabelName'].isin(id_list)].reset_index()

In [ ]:
train_annotation = {
    'location': [],
    'x1': [],
    'y1': [],
    'x2': [],
    'y2': [],
    'class_name': []
}

for i in range(new_df.shape[0]):
  image_id = new_df.loc[i]['ImageID']
  id_name = new_df.loc[i]['LabelName']
  class_name = id_to_class[id_name]
  path = '/content/data/images/' + class_name + '/images' + image_id + '.jpg'
  x1 = new_df.loc[i]['XMin']
  x2 = new_df.loc[i]['XMax']
  y1 = new_df.loc[i]['YMin']
  y2 = new_df.loc[i]['XMax']

  train_annotation['location'].append(path)
  train_annotation['x1'].append(x1)
  train_annotation['x2'].append(x2)
  train_annotation['y1'].append(y1)
  train_annotation['y2'].append(y2)
  train_annotation['class_name'].append(class_name)

In [ ]:
id_to_class = dict()
for class_name, id_name in zip(total_items, id_list):
  id_to_class[id_name] = class_name

In [ ]:
for i in new_df:
  print(i)

index
ImageID
LabelName
XMin
XMax
YMin
YMax

In [ ]:
new_df.loc[5]['LabelName']

'/m/04bcr3'

In [ ]:
def form_annotation_file(df):
  annotation = {
    'location': [],
    'x1': [],
    'y1': [],
    'x2': [],
    'y2': [],
    'class_name': []
  }

  new_df = df[df['LabelName'].isin(id_list)].reset_index()
  new_df = new_df[new_df['ImageID'].isin(name_of_images)].reset_index()
  print(new_df.shape)
  for i in range(new_df.shape[0]):
    image_id = new_df.loc[i]['ImageID']
    id_name = new_df.loc[i]['LabelName']

    class_name = id_to_class[id_name]
    path = '/content/data/images/' + class_name.lower() + '/images/' + image_id + '.jpg'
    x1 = new_df.loc[i]['XMin']
    x2 = new_df.loc[i]['XMax']
    y1 = new_df.loc[i]['YMin']
    y2 = new_df.loc[i]['XMax']

    annotation['location'].append(path)
    annotation['x1'].append(x1)
    annotation['x2'].append(x2)
    annotation['y1'].append(y1)
    annotation['y2'].append(y2)
    annotation['class_name'].append(class_name)

  return pd.DataFrame(annotation)

In [ ]:
annotation = pd.DataFrame(train_annotation)

In [ ]:
annotation

                                                 location  ...  class_name
0       /content/data/images/Table/images000002b66c9c4...  ...       Table
1       /content/data/images/Table/images000002b66c9c4...  ...       Table
2       /content/data/images/Table/images000002b66c9c4...  ...       Table
3       /content/data/images/Table/images000020780ccee...  ...       Table
4       /content/data/images/Laptop/images000060e3121c...  ...      Laptop
...                                                   ...  ...         ...
198129  /content/data/images/Table/imagesfff9d0c14a4e5...  ...       Table
198130  /content/data/images/Table/imagesfff9d5ffb0d87...  ...       Table
198131  /content/data/images/Furniture/imagesfffc47ab8...  ...   Furniture
198132  /content/data/images/Furniture/imagesfffc47ab8...  ...   Furniture
198133  /content/data/images/Laptop/imagesffff83c6a0e1...  ...      Laptop

[198134 rows x 6 columns]

In [ ]:
train_file = pd.read_csv('train-annotations-bbox.csv')
test_file = pd.read_csv('test-annotations-bbox.csv')
validation_file = pd.read_csv('validation-annotations-bbox.csv')

In [ ]:
train_annotation =
test_annotation = form_annotation_file(test_file)
validation_annotation = form_annotation_file(validation_file)

(85092, 15)
(6917, 15)
(2267, 15)

In [ ]:
validation_annotation

                                               location  ...  class_name
0     /content/data/images/table/images/00173afdc758...  ...       Table
1     /content/data/images/furniture/images/00377532...  ...   Furniture
2     /content/data/images/table/images/003775320f1d...  ...       Table
3     /content/data/images/table/images/0052ea56ee86...  ...       Table
4     /content/data/images/television/images/007f716...  ...  Television
...                                                 ...  ...         ...
4164  /content/data/images/furniture/images/ff32d94a...  ...   Furniture
4165  /content/data/images/television/images/ff5e1a9...  ...  Television
4166  /content/data/images/furniture/images/ff7822ae...  ...   Furniture
4167  /content/data/images/television/images/ff9d6b8...  ...  Television
4168  /content/data/images/table/images/fff3ce694bc0...  ...       Table

[4169 rows x 6 columns]

In [ ]:
validation_

                 ImageID  Source  LabelName  ...  IsGroupOf  IsDepiction  IsInside
0       0001eeaf4aed83f9  xclick   /m/0cmf2  ...          0            0         0
1       000595fe6fee6369  xclick   /m/02wbm  ...          1            0         0
2       000595fe6fee6369  xclick   /m/02xwb  ...          0            0         0
3       000595fe6fee6369  xclick   /m/02xwb  ...          0            0         0
4       000595fe6fee6369  xclick   /m/02xwb  ...          0            0         0
...                  ...     ...        ...  ...        ...          ...       ...
303975  ffff21932da3ed01  xclick  /m/03fp41  ...          1            0         0
303976  ffff21932da3ed01  xclick  /m/01g317  ...          0            1         0
303977  ffff21932da3ed01  xclick  /m/01g317  ...          0            0         0
303978  ffff21932da3ed01  xclick  /m/0c9ph5  ...          1            0         0
303979  ffff21932da3ed01  xclick  /m/0c9ph5  ...          1            0         0

[303980 rows x 13 columns]

In [ ]:
train_annotation

                                            location  ...  class_name
0  /content/data/images/table/images/000002b66c9c...  ...       Table

[1 rows x 6 columns]

In [ ]:
train_file

                   ImageID  Source  LabelName  ...  IsGroupOf  IsDepiction  IsInside
0         000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
1         000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
2         000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
3         000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
4         000002b66c9c498e  xclick  /m/01g317  ...          0            0         0
...                    ...     ...        ...  ...        ...          ...       ...
14610224  fffffdaec951185d  xclick   /m/0dzct  ...          1            0         0
14610225  fffffdaec951185d  xclick   /m/0dzct  ...          0            0         0
14610226  fffffdaec951185d  xclick   /m/0dzct  ...          0            0         0
14610227  fffffdaec951185d  xclick   /m/0dzct  ...          1            0         0
14610228  fffffdaec951185d  xclick   /m/0dzct  ...          0            0         0

[14610229 rows x 13 columns]

In [ ]:
len(l)

693

In [ ]:
len(train_file[train_file['LabelName']=='/m/0h8nr_l']['ImageID'].unique()) + len(test_file[test_file['LabelName']=='/m/0h8nr_l']['ImageID'].unique()) + len(validation_file[validation_file['LabelName']=='/m/0h8nr_l']['ImageID'].unique())

944

In [ ]:
train_file[train_file['LabelName']=='Bathroom accessory']

Empty DataFrame
Columns: [ImageID, Source, LabelName, Confidence, XMin, XMax, YMin, YMax, IsOccluded, IsTruncated, IsGroupOf, IsDepiction, IsInside]
Index: []

In [ ]:
id_to_class

{'/m/0130jx': 'Sink',
 '/m/0162_1': 'Towel',
 '/m/0174k2': 'Washing machine',
 '/m/01c648': 'Laptop',
 '/m/01k6s3': 'Toaster',
 '/m/01x3z': 'Clock',
 '/m/01xq0k1': 'Cattle',
 '/m/029bxz': 'Oven',
 '/m/02crq1': 'Couch',
 '/m/02d9qx': 'Whiteboard',
 '/m/02f9f_': 'Shower',
 '/m/02jvh9': 'Mug',
 '/m/02pjr4': 'Blender',
 '/m/02wv84t': 'Gas stove',
 '/m/034c16': 'Pillow',
 '/m/03__z0': 'Bookcase',
 '/m/03_wxk': 'Kitchenware',
 '/m/03dnzn': 'Bathtub',
 '/m/03ldnb': 'Ceiling fan',
 '/m/03m3pdh': 'Sofa bed',
 '/m/03qhv5': 'Heater',
 '/m/03s_tn': 'Kettle',
 '/m/03ssj5': 'Bed',
 '/m/03tw93': 'Fireplace',
 '/m/040b_t': 'Refrigerator',
 '/m/04169hn': 'Wood-burning stove',
 '/m/04bcr3': 'Table',
 '/m/054_l': 'Mirror',
 '/m/0642b4': 'Cupboard',
 '/m/078n6m': 'Coffee table',
 '/m/07c52': 'Television',
 '/m/07cx4': 'Telephone',
 '/m/07xyvk': 'Coffeemaker',
 '/m/09g1w': 'Toilet',
 '/m/0b3fp9': 'Countertop',
 '/m/0c_jw': 'Furniture',
 '/m/0fx9l': 'Microwave oven',
 '/m/0h8n5zk': 'Kitchen & dining room table',
 '/m/0h8nr_l': 'Bathroom accessory',
 '/m/0h8ntjv': 'Pressure cooker',
 '/m/0ky7b': 'Dishwasher',
 '/m/0llzx': 'Sewing machine'}

In [ ]:
import os
name_of_images = []
for class_name in total_items:
  for file in os.listdir(f"/content/data/images/{class_name.lower()}/images"):
    name_of_images.append(file[:-4])

In [ ]:
len(l)

46126